[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
