snippet comp
// @flow
import * as React from 'react';

import styles from './$1.cssmodule.scss';

type Props = {
};

class $1 extends React.Component<Props> {
  render() {
    return (
      <div>
        dupa
      </div>
    );
  }
}

export default $1;
endsnippet
