snippet gtmd
@include mq(gt-md) {
	$1
}
endsnippet

snippet gtlg
@include mq(gt-lg) {
	$1
}
endsnippet

snippet gtsm
@include mq(gt-sm) {
	$1
}
endsnippet

snippet @imp
@import 'src/styles/index';
endsnippet

snippet center "center things" b
display: flex;
align-items: center;
justify-content: center;
endsnippet

snippet border "standard border" b
border: 1px solid $link-water-3;
endsnippet

snippet radius "standard border radius" b
border-radius: 5px;
endsnippet
