snippet gtmd
@include mq(gt-md) {
	$1
}
endsnippet

snippet gtlg
@include mq(gt-lg) {
	$1
}
endsnippet

snippet gtsm
@include mq(gt-sm) {
	$1
}
endsnippet

snippet @imp
@import 'src/styles/index';
endsnippet
